<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spymaster key</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="">
    <div id="spymasterApp" class="text-center bg-gray-900 w-screen h-screen px-4 p-4 flex content-between flex-wrap select-none">
        <div class="w-3/4 mx-auto lg:mt-20">
            <div class="inline-block border m-1 py-2 lg:py-4 rounded w-1/6 shadow-inner" :class="getCardColor(index)" v-for="(card, index) in words">
                <div v-if="isCardTouched(index)">
                    <p class="text-sm -mb-2 -mt-1 text-transparent text-left mr-2">{{ card }}</p> 
                    <p class="-my-2 text-transparent shadow-inner">{{ card }}</p>
                </div>
                <div v-else>
                    <p class="text-sm -mb-2 -mt-1 text-left mr-2" style="transform:rotate(-180deg);">{{ card }}</p> 
                    <p class="-my-2 text-gray-800 shadow-inner truncate">{{ card }}</p> 
                </div>
            </div>
        </div>
        
        <div class="w-full mt-2 flex justify-between text-sm">
            <div class="bg-gray-200 rounded text-sm px-3 py-1" @click="getNewGame()">New Game</div>
            <div class="bg-gray-200 rounded text-sm px-3 py-1">First team: red</div>
        </div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>